<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>The Shoe World</h2>
                <h3>Register</h3>
                <hr>
                <h2>Do you want to delete all your data from this website?</h2>
                <h3>(You will not be able to recover data)</h3>
                <form action="/user/delete" method="GET">
                    <p></p>
                    <button class="btn btn-info" type="submit">YES</button>
                </form>
                <form action="/login" method="GET">
                    <p></p>
                    <button class="btn btn-info" type="submit">NO</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>